/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Box */
.modalContent {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 520px;
  animation: fadeIn 0.3s ease-in-out;
  font-family: 'Inter', sans-serif;
}

.modalContent h2 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #084343;
}

.inputRow {
  margin-bottom: 1.2rem;
}

.inputLabel {
  display: block;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.inputField,
.textarea,
.fileInput {
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 0.88rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  outline: none;
}

.textarea {
  min-height: 100px;
  resize: none;
  line-height: 1.5;
}

.inputField::placeholder,
.textarea::placeholder {
   color: #989a9e;
}

.fileInput {
  background-color: #fff;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: .6rem;
  margin-top: 1.8rem;
}

.submitBtn {
  background-color: #148f7b;
  color: #fff;
  padding: 0.65rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: .5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #1fa384;
}

.cancelBtn {
  background-color: transparent;
  color: #10816e;
  border: 2px solid #10816e;
  padding: 0.65rem 1.5rem;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelBtn:hover {
  background-color: #eaf6f3;
}

.errorText {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}