.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  font-family: 'Inter', sans-serif;
  animation: fadeIn 0.3s ease-in-out;
}

.modalContent h2 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #084343;
}

.form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form label {
  font-weight: 600;
  font-size: 0.9rem;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 0.88rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  outline: none;
  margin-bottom: .5rem;
}

.form textarea {
  min-height: 100px;
  resize: none;
  line-height: 1.5;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: .8rem;
  margin-top: 1.5rem;
}

.submitBtn {
  background-color: #1e8c79;
  color: white;
  border: none;
  padding: 0.65rem 1.2rem;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: .5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #2ca287;
}

.cancelBtn {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 0.65rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #444;
  transition: background-color 0.3s ease;
}

.cancelBtn:hover {
  background-color: #f0f0f0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}