.inputGroup {
	position: relative;
	margin-bottom: 1.6rem;
}

.input {
	width: 100%;
	padding: 0.8rem 1rem 0.8rem 2.3rem;
	border: none;
	outline: none;
	border-bottom: 2px solid #e0e0e0;
	background: transparent;
	font-size: 14px;
}

.icon {
	position: absolute;
	top: 50%;
	left: 0.7rem;
	font-size: 14px;
	transform: translateY(-50%);
	color: #CFCFCF;
}

.input:focus,
.input:not(:placeholder-shown) {
	border-bottom-color: #13B79B;
}

.toggle {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	background: none;
	border: none;
	font-size: 14px;
	cursor: pointer;
	color: #CFCFCF;
	padding: 0;
}

.input::placeholder {
	color: #CFCFCF !important;
}

.input::-webkit-input-placeholder {
	color: #CFCFCF !important;
}

.input::-moz-placeholder {
	color: #CFCFCF !important;
	opacity: 1;
}

.input:-ms-input-placeholder {
	color: #CFCFCF !important;
}

.input::-ms-input-placeholder {
	color: #CFCFCF !important;
}