.aboutSection {
  padding: 6rem 1rem 6rem 0;
  background: #fff;
  position: relative;
  overflow: visible;
}

.aboutWrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 4rem;
}

.aboutImageWrapper {
  flex: 1;
  position: relative;
  z-index: 1;
}

.aboutImage {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  object-fit: cover;
  max-height: 460px;
}

.aboutContent {
  flex: 1;
  z-index: 2;
  padding-top: .65rem;
}

.aboutLabel {
  color: #FFAC00;
  font-style: italic;
  font-weight: normal;
  margin-bottom: .5rem;
}

.aboutHeading {
  font-size: 2.4rem;
  font-weight: 800;
  color: #122F2A;
  margin-bottom: .8rem;
  line-height: 1.2;
  max-width: 400px;
}

.aboutParagraph {
  color: #444;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 2rem;
  max-width: 390px;
}

.aboutBoxes {
  position: absolute;
  left: 60%;
  bottom: 4rem; /* Adjust as needed to overlap the image */
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  z-index: 2;
  width: max-content;
}


.missionbox, .visionbox {
  color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  width: 380px;
  height: 220px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.missionbox {
  background: #122F2A;
}

.visionbox {
  background: #1A685B;
}

.missionbox h3, .visionbox h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 1.6;
}

.missionbox p, .visionbox p {
  font-size: 13.5px;
  font-weight: lighter;
  line-height: 1.6;
  width: 90%;
}

.abouticon {
  margin-bottom: 12px;
  background-color: white;
  color: #1EBB06;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 0.75rem;
  width: 30px;
  height: 30px;
}

.missionbox,
.visionbox {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.missionbox:hover,
.visionbox:hover {
  transform: scale(1.03);
}

.missionbox:hover .abouticon,
.visionbox:hover .abouticon {
  color: #FFAC00;
}