.inputGroup {
	position: relative;
	margin-bottom: 1.6rem;
}

.inputGroup input {
	width: 100%;
	padding: 0.8rem 1rem 0.8rem 2.3rem;
	border: none;
	outline: none;
	border-bottom: 2px solid #e0e0e0;
	background: transparent;
	font-size: 14px;
	color: #000;
	transition: border-bottom-color 0.3s ease;
}

.inputGroup input:focus,
.inputGroup input:not(:placeholder-shown) {
	border-bottom-color: #13B79B;
}

.icon {
	position: absolute;
	top: 50%;
	left: 0.7rem;
	font-size: 14px;
	transform: translateY(-50%);
	color: #CFCFCF;
	transition: color 0.3s ease;
}

.inputGroup:has(input:focus) .icon,
.inputGroup:has(input:not(:placeholder-shown)) .icon {
	color: #13B79B;
}
